@media (min-width: 1280px) {
  /* General */
  .page {
    font-size: 1.5rem;
  }

  /* Navigation */
  .nav-links h3 {
    display: block;
  }

  .link:last-child {
    margin-top: 60%;
  }

  .link-icon {
    height: 10%;
    width: 10%;
    margin: 0;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 5%;
  }

  .avatar {
    margin: 0;
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 5%;
  }

  /* Footer */
  .footer {
    margin-top: 0%;
    padding: 0%;
  }

  /* Home */
  .home-logo {
    height: auto;
    width: auto;
    min-width: 20%;
  }

  .home-logo-container {
    padding-bottom: 2%;
  }

  /* Profile */
  .profile-heading {
    margin-top: 3%;
  }

  .profile-text-input input {
    font-size: 1.5rem;
    height: 2rem;
    margin-top: 1%;
  }

  .profile-text-input.last {
    margin-bottom: 2%;
  }

  .save-icon {
    height: 2%;
    width: 2%;
    margin-left: 1%;
  }

  .edit-btn {
    font-size: 1.5rem;
    margin-top: 4%;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
  }

  /* Fitness */
  .fitness-links .highlighted-btn {
    width: 30%;
    margin-bottom: 3%;
  }

  /* Steps */
  .steps-goals {
    display: flex;
  }

  .steps-goal {
    width: 30%;
  }

  .steps-goal:last-child {
    margin-left: -3%;
  }

  .steps-goal input {
    font-size: 1.5rem;
  }

  .steps-goal .save-icon {
    height: 5%;
    width: 5%;
  }

  .steps-taken-heading {
    margin-top: 5%;
  }

  .steps-taken input {
    width: 20%;
    padding: 1%;
  }

  .steps-taken .save-icon {
    margin-top: 1.5%;
  }

  .steps-posts {
    margin-top: -1%;
  }

  .steps-post {
    width: 50%;
    margin-top: 2%;
    padding: 1%;
  }

  .steps-info {
    margin-left: 20%;
    margin-right: 20%;
  }

  .steps-post .delete-icon {
    margin-top: 3.5%;
  }

  /* Cardio */
  .cardio-post-area {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }

  .cardio-post-field .profile-text-input {
    margin-top: 4%;
  }

  .cardio-post-field.centre {
    margin-left: 5%;
    margin-right: 5%;
  }

  .cardio .steps-posts,
  .nutrition .steps-posts {
    margin-top: 5%;
  }

  .cardio .steps-post,
  .nutrition .steps-post {
    width: 60%;
  }

  .cardio .steps-post .delete-icon,
  .nutrition .steps-post .delete-icon {
    margin-top: 3%;
  }

  /* Nutrition */
  .nutrition-goal {
    width: 30%;
  }

  .nutrition-goal .save-icon {
    height: 5%;
    width: 5%;
  }

  .nutrition .edit-btn {
    margin-top: -2%;
    margin-bottom: 5%;
  }
}