/* General */
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.content {
  margin-left: 20%;
  margin-bottom: 5%;
  flex-grow: 1;
}

.highlighted-btn {
  background-color: var(--colour-blue-green);
  border: 1px solid var(--colour-blue-green);
  color: var(--colour-white);
  border-radius: 40px;
  font-family: "Roboto Light";
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 12rem;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.highlighted-btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.highlighted-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.highlighted-btn:hover span {
  padding-right: 25px;
}

.highlighted-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.metamask-logo {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}

/* Navigation */
.navigation {
  background-color: var(--colour-white);
  border-right: 1px solid var(--colour-teal);
  height: 100%;
  width: 18%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}

.logo {
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 30%;
}

.nav-links {
  margin-top: 5%;
}

.nav-links h3 {
  color: var(--colour-blue-green);
  display: none;
}

.link {
  display: flex;
}

.link:last-child {
  margin-top: 70%;
}

.link-icon {
  height: 50%;
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 80%;
}

.avatar {
  border-radius: 25px;
  display: block;
  margin: auto;
}

/* Footer */
.footer {
  background-color: var(--colour-rich-black);
  color: var(--colour-white);
  padding: 0%;
  margin-top: 0%;
}

.footer p {
  text-align: center;
}

/* Home */
.content.home {
  background-image: url(../styles/images/8fit-home-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0%;
  justify-content: center;
  margin-left: 0;
}

.home-logo {
  height: auto;
  width: auto;
  min-width: 20%;
  max-width: 80%;
}

.home-logo-container {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 10%;
}

/* Profile */
.profile-heading {
  font-weight: bold;
  margin: 0;
  margin-top: 10%;
}

.profile-text-input {
  margin: 0;
}

.profile-text-input input {
  font-family: "Roboto Light";
  font-size: 1.2rem;
  border: 0;
  border-bottom: 1px solid var(--colour-rich-black);
  margin-top: 3%;
  outline: 0;
}

.profile-text-input.last {
  margin-bottom: 8%;
}

.profile-text-input input:focus {
  border-bottom: 1px solid var(--colour-teal);
  transition: all 0.5s;
}

.save-icon {
  margin-left: 5%;
  cursor: pointer;
}

.save-icon:hover {
  color: var(--colour-teal);
  transition: all 0.5s;
}

.edit-btn {
  font-family: "Roboto Light";
  font-size: 1.2rem;
  color: var(--colour-white);
  background-color: var(--colour-blue-green);
  min-width: 150px;
  border: 0;
  border-radius: 10px;
  margin-top: 5%;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: var(--colour-teal);
  transition: all 0.5s;
}

/* Fitness */
.delete-icon {
  cursor: pointer;
}

.fitness-content {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fitness-links {
  margin: 1%;
  padding: 5%;
}

.fitness-text-input input {
  width: 60%;
  text-align: center;
  font-size: 3rem;
  font-weight: 2rem;
  color: var(--colour-teal);
  border: 0;
  border-bottom: 2px solid var(--colour-teal);
}

/* Steps*/

.steps-goal {
  width: 60%;
  max-width: 250px;
  text-align: center;
  vertical-align: middle;
  font-weight: lighter;
  border-radius: 20px;
  background-color: var(--colour-blue-gray);
  padding: 2%;
  margin: 2%;
}

.steps-data {
  text-align: center;
  font-family: "Roboto Light";
  color: var(--colour-blue-green);
  font-size: 3rem;
  font-weight: 2rem;
}

.steps-taken input {
  text-align: center;
  margin-bottom: 2%;
  width: 60%;
  color: var(--colour-blue-green);
  font-size: 3rem;
  font-weight: 2rem;
  border: 2px solid var(--colour-teal);
  border-radius: 20px;
}

.edit-steps-btn {
  font-family: "Roboto Light";
  font-size: 1.2rem;
  color: var(--colour-white);
  background-color: var(--colour-blue-green);
  border: 0;
  border-radius: 10px;
  margin-top: 5%;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  cursor: pointer;
}

.steps-posts {
  border: 1px;
  border-radius: 10px;
  background-color: var(--colour-blue-green);
}

/* cardio*/

.cardio-submit-btn {
  font-family: "Roboto Light";
  font-size: 1.2rem;
  color: var(--colour-white);
  background-color: var(--colour-blue-green);
  border: 0;
  border-radius: 10px;
  margin-top: 5%;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  cursor: pointer;
}
.cardio-goal {
  width: 60%;
  max-width: 250px;
  text-align: center;
  display: inline-block;
  font-weight: lighter;
  background-color: var(--colour-blue-gray);
  border-radius: 20px;
  padding: 2%;
  margin: 2%;
}

.cardio-data {
  text-align: center;
  font-family: "Roboto Light";
  color: var(--colour-blue-green);
  font-size: 2rem;
  font-weight: 2rem;
}

.cardio-posts {
  border: 1px;
  border-radius: 10px;
  background-color: var(--colour-blue-green);
}
/*strength*/

.strength-training-goal {
  width: 60%;
  max-width: 250px;
  text-align: center;
  display: inline-block;
  font-weight: lighter;
  background-color: var(--colour-blue-gray);
  border-radius: 20px;
  padding: 2%;
  margin: 2%;
}

.strength-training-submit-btn {
  font-family: "Roboto Light";
  font-size: 1.2rem;
  color: var(--colour-white);
  background-color: var(--colour-blue-green);
  border: 0;
  border-radius: 10px;
  margin-top: 5%;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  cursor: pointer;
}

.strength-training-data {
  text-align: center;
  font-family: "Roboto Light";
  color: var(--colour-blue-green);
  font-size: 2rem;
  font-weight: 2rem;
}

.strength-training-posts {
  border: 1px;
  border-radius: 10px;
  background-color: var(--colour-blue-green);
}
