/* General */
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.content {
  margin-left: 20%;
  margin-bottom: 5%;
  flex-grow: 1;
}

.highlighted-btn {
  background-color: var(--colour-blue-green);
  border: 1px solid var(--colour-blue-green);
  color: var(--colour-white);
  border-radius: 40px;
  font-family: "Roboto Light";
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 12rem;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.highlighted-btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.highlighted-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.highlighted-btn:hover span {
  padding-right: 25px;
}

.highlighted-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.metamask-logo {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}

/* Navigation */
.navigation {
  background-color: var(--colour-white);
  border-right: 1px solid var(--colour-teal);
  height: 100%;
  width: 18%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}

.logo {
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 30%;
}

.nav-links {
  margin-top: 5%;
}

.nav-links h3 {
  color: var(--colour-blue-green);
  display: none;
}

.link {
  display: flex;
}

.link:last-child {
  margin-top: 70%;
}

.link-icon {
  height: 50%;
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 80%;
}

.avatar {
  border-radius: 25px;
  display: block;
  margin: auto;
}

/* Footer */
.footer {
  background-color: var(--colour-rich-black);
  color: var(--colour-white);
  padding: 0%;
  margin-top: 0%;
}

.footer p {
  text-align: center;
}

/* Home */
.content.home {
  background-image: url(../styles/images/8fit-home-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0%;
  justify-content: center;
  margin-left: 0;
}

.home-logo {
  height: auto;
  width: auto;
  min-width: 20%;
  max-width: 80%;
}

.home-logo-container {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 10%;
}

/* Profile */
.profile-heading {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.profile-info {
  display: flex;
  justify-content: center;
}

.profile-text-input {
  display: flex;
  justify-content: center;
}

.profile-text-input input {
  font-family: "Roboto Light";
  font-size: 1.2rem;
  border: 0;
  border-bottom: 1px solid var(--colour-rich-black);
  margin-top: 3%;
  outline: 0;
}

.profile-text-input.last {
  margin-bottom: 8%;
}

.profile-text-input input:focus {
  border-bottom: 1px solid var(--colour-teal);
  transition: all 0.5s;
}

.save-icon {
  margin-left: 5%;
  cursor: pointer;
}

.profile .save-icon:hover,
.steps-taken .save-icon:hover {
  color: var(--colour-teal);
  transition: all 0.5s;
}

.edit-btn {
  font-family: "Roboto Light";
  font-size: 1.2rem;
  color: var(--colour-white);
  background-color: var(--colour-blue-green);
  border: 0;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 10%;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: var(--colour-teal);
  transition: all 0.5s;
}

/* Dashboard */
.points-progress {
  width: 80%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 4%;
}

.level {
  float: right;
}

.progress-circle-container {
  height: 90%;
  width: 90%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 15%;
}

.progress-circle {
  font-size: 1.4rem;
  width: 50%;
  text-align: center;
}

/* Fitness */
.fitness-links .highlighted-btn {
  width: 18rem;
  margin: auto;
  margin-bottom: 5%;
}

/* Steps */
.steps-goal,
.nutrition-goal {
  background-color: var(--colour-wedgewood);
  color: var(--colour-white);
  border-radius: 20px;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
  padding: 5%;
}

.steps-goal h3 {
  margin: 0;
  margin-bottom: 5%;
}

.steps-goal input,
.nutrition-goal input {
  background-color: var(--colour-wedgewood);
  color: var(--colour-white);
  font-family: "Roboto Light";
  font-size: 1.2rem;
  border: 0;
  border-bottom: 1px solid var(--colour-rich-black);
  width: 60%;
  outline: 0;
}

.steps-goal input::placeholder,
.nutrition-goal input::placeholder {
  color: var(--colour-white);
}

.fitness-content .edit-btn {
  display: block;
  margin: auto;
}

.steps-taken-heading {
  margin-top: 15%;
}

.steps-taken {
  display: flex;
  justify-content: center;
}

.steps-taken input {
  border: 1px solid var(--colour-rich-black);
  border-radius: 20px;
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
  margin-bottom: 2%;
  padding: 3%;
  outline: 0;
}

.steps-taken input:focus {
  border: 1px solid var(--colour-teal);
  transition: all 0.5s;
}

.steps-taken .save-icon {
  margin-top: 4%;
}

.steps-posts {
  margin-top: 10%;
}

.steps-post {
  background-color: var(--colour-blue-green);
  border: 1px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 85%;
  margin: auto;
  margin-top: 5%;
  padding: 5%;
}

.steps-info {
  margin-left: 5%;
  margin-right: 5%;
}

.delete-icon {
  cursor: pointer;
}

.steps-post .delete-icon {
  margin-top: 7%;
}

/* Cardio */
.cardio-heading {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.cardio-post-area .profile-text-input {
  margin-bottom: 15%;
}

.cardio .steps-posts {
  margin-top: 15%;
}

.cardio .steps-post,
.nutrition .steps-post {
  text-align: center;
  display: block;
  width: 65%;
  padding: 2%;
}

.cardio .steps-post .delete-icon {
  margin-top: 0;
}

/* Nutrition */
.nutrition-goal h3 {
  margin: 0;
  margin-bottom: 5%;
}

.nutrition .steps-post .delete-icon {
  margin-top: 0;
  margin-bottom: 3%;
}