@media (min-width: 768px) {
  /* General */
  .page {
    font-size: 1.8rem;
  }

  .highlighted-btn {
    width: 15rem;
  }

  .highlighted-btn span {
    font-size: 1.8rem;
    margin-right: 10%;
  }

  /* Navigation */
  .link-icon {
    height: 30%;
    width: 30%;
    margin-top: 70%;
  }

  /* Footer */
  .footer {
    padding: 0%;
  }

  /* Home */
  .home-logo-container {
    padding-bottom: 5%;
  }

  /* Profile */
  .profile-text-input input {
    font-size: 1.8rem;
  }

  .save-icon {
    height: 5%;
    width: 5%;
    margin-left: 2%;
  }

  .edit-btn {
    font-size: 1.8rem;
  }
}
