@media (min-width: 768px) {
  /* General */
  .page {
    font-size: 1.8rem;
  }

  .highlighted-btn {
    width: 15rem;
  }

  .highlighted-btn span {
    font-size: 1.8rem;
    margin-right: 10%;
  }

  /* Navigation */
  .link-icon {
    height: 30%;
    width: 30%;
    margin-top: 70%;
  }

  /* Footer */
  .footer {
    padding: 0%;
  }

  /* Home */
  .home-logo-container {
    padding-bottom: 5%;
  }

  /* Profile */
  .profile-text-input input {
    font-size: 1.8rem;
  }

  .save-icon {
    height: 5%;
    width: 5%;
    margin-left: 2%;
  }

  .edit-btn {
    font-size: 1.8rem;
    padding: 2%;
    padding-left: 8%;
    padding-right: 8%;
  }

  /* Dashboard */
  .progress-circle-container {
    height: 85%;
    width: 85%;
  }

  .progress-circle {
    font-size: 1.8rem;
  }

  /* Fitness */
  .fitness-link .highlighted-btn {
    width: 80%;
  }

  .fitness-link .highlighted-btn span {
    margin: auto;
  }

  /* Steps */
  .steps-goal input {
    font-size: 1.8rem;
    width: 45%;
  }

  .steps-taken-heading {
    margin-top: 10%;
  }

  .steps-taken input {
    font-size: 1.8rem;
    width: 35%;
  }

  .steps-posts {
    margin-top: 5%;
  }

  .steps-post {
    padding: 2%;
  }

  .steps-info {
    margin-left: 15%;
    margin-right: 15%;
  }

  /* Cardio */
  .cardio-post-area .profile-text-input {
    margin-bottom: 8%;
  }

  /* Nutrition */
  .nutrition-goal input {
    font-size: 1.8rem;
  }

  .nutrition .edit-btn {
    margin-top: -1%;
  }

  /* Badges */

  .badge-text {
    padding-left: 15px;
    width: 65%;
  }

  .badge-image {
    width: 30%;
    padding: 10px;
  }

  .badge-title {
    width: 100%;
  }
}
