@media (min-width: 1024px) {
  /* General */
  .highlighted-btn span {
    font-size: 1.5rem;
  }

  /* Navigation */
  .logo {
    margin-top: 15%;
  }

  .link-icon {
    margin-top: 30%;
  }

  /* Fitness */
  .fitness-links .highlighted-btn {
    width: 60%;
  }

  /* Steps */
  .steps-goal {
    width: 50%;
  }

  .steps-post .delete-icon {
    margin-top: 5%;
  }

  /* Cardio */
  .cardio .steps-posts {
    margin-top: 0;
  }

  .cardio .steps-post,
  .nutrition .steps-post {
    display: flex;
    width: 80%;
  }

  .cardio .steps-post p,
  .nutrition .steps-post p {
    margin-right: 5%;
  }

  .cardio .steps-post .delete-icon,
  .nutrition .steps-post .delete-icon {
    margin-top: 5%;
    margin-right: 5%;
  }

  /* Nutrition */
  .nutrition-goal {
    width: 50%;
  }
}